[submodule "vendor/libcss"]
	path = vendor/libcss
	url = https://github.com/Univers42/libcss.git
[submodule "vendor/scripts"]
	path = vendor/scripts
	url = https://github.com/Univers42/scripts.git
[submodule "vendor/qa"]
	path = vendor/qa
	url = https://github.com/Univers42/QA.git
